<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Введите логин:</label>
        <input type="text" id="username" name="username" maxlength="30" required>

        <label for="password">Введите пароль:</label>
        <input type="text" id="password" name="password" minlength="8" required>

        <label for="repeat_password">Повторите пароль:</label>
        <input type="text" id="repeat_password" name="repeat_password" minlength="8" required>

        <label for="age">Введите свой возраст:</label>
        <input type="number" id="age" name="age" maxlength="3" required>

        <button type="submit">Отправить</button>
    </form>
    {% if info %}
    <ul>
        {% for error in info.values %}
        <li><h2>{{ error }}</h2></li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>